.dark{
    background-color: #212121;
    color: #1ED760;
    
}
img {
    height: 80px;
    width: 80px;
    border-radius: 15px;
    position: relative;
    top: 15px;
    left:30px;
}
h1 {
    background-color: #000000;
    color:#1ED760; 
    display: inline;
    border-radius: 15px;
    position: relative;
    top :10px;
    left: 120px;
}
/* body{
	background-image: url("https://cdn.pixabay.com/photo/2017/07/10/18/47/background-2491008_960_720.png");
	background-repeat: repeat;
} */
.controls{
    display:flex;
    flex-direction :column;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 160px;
    background-color: lightblue;
    text-align: center;
    font-size: 18px;
} */

/* li a {
    display:block;
    color : #000;
    padding: 49px 32px;
    text-decoration: none;
} */

/* li a:hover {
    background-color: cadetblue;
    color :white;
    transition: 0.5s;
} */

button {
    background-color: #1ED760;
    border: none;
    font-size: 18px;
    height:170px
}

button:hover {
    background-color: #008000;
    color :white;
}


/* 使用flex排版 */
.setup {
    /* border : solid 5px #FFAC12; */
    height : 950px;
    margin:2%;
    display:flex;
    flex-wrap: wrap;
    
}

svg{
    border :5px solid #1ED760;
}

.axis .domain{
    stroke: none
}

.x line{
    stroke: white
}

/*interactive 詳細資訊視窗設定*/
.tooltip{
    position: fixed;
    /* z-index: 10;            最上層 */
    opacity: 0;
    pointer-events: none;
    background: #eee;
    max-width: 200px;
}

.tip-header{
    border-bottom: 2px solid white;
    padding: 0.9rem 1rem;
}

.tip-body{
    padding: 0.2rem 0;     
}

h3,h4{
    font-size: 0.9rem;
    color:#555;
    margin:0;
}

h4{
    font-weight: normal;
}

.tip-info{
    margin:0;
    padding: 0.3rem 1em;
    font-size: 0.8em;
}


/* 切換按鈕特效 */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 3px;
    left: 200px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: lightblue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px lightblue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*偶數元素設定不同背景樣式*/
.tip-info:nth-of-type(even){
    background: #e0e0e0;
}

.artist-container{
    border: 3px solid #1ED760;
    width:250px;
    height: 300px;
}